/* =========================
GOOGLE FONT
========================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* =========================
GLOBAL
========================= */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;

}

body{

    background:#f5f3ee;

    color:#111;

}


/* =========================
LOADER
========================= */

.loader{

    position: fixed;

    width: 100%;
    height: 100vh;

    background: black;

    display: flex;

    justify-content: center;
    align-items: center;

    z-index: 99999;

    transition: 0.5s;

}

.loader h1{

    font-size: 55px;

    color: red;

}


/* =========================
NAVBAR
========================= */

.navbar{

    width: 100%;

    padding: 12px 8%;

    background: rgba(0,0,0,0.85);

    backdrop-filter: blur(10px);

    display: flex;

    justify-content: space-between;

    align-items: center;

    position: fixed;

    top: 40px;

    left: 0;

    z-index: 999;

    border-bottom:
    1px solid rgba(255,255,255,0.08);

}

.logo{

    display: flex;

    align-items: center;

    gap: 15px;

}

.logo img{

    width: 50px;

}

.logo h2{

    font-size: 26px;

    color: red;

}


/* NAV MENU */

#navMenu{

    display: flex;

    gap: 35px;

    list-style: none;

}

#navMenu li{

    white-space: nowrap;

}

#navMenu li a{

    text-decoration: none;

    color: white;

    font-size: 16px;

    transition: 0.3s;

}

#navMenu li a:hover{

    color: red;

}


/* NAV RIGHT */

.nav-right{

    display: flex;

    align-items: center;

    gap: 20px;

}


/* SEARCH */

.search-box{

    margin-left: 20px;

    position: relative;

}

.search-box input{

    width: 250px;

    padding: 12px 45px 12px 18px;

    border: none;

    outline: none;

    border-radius: 50px;

    background: #111;

    color: white;

}

.search-box i{

    position: absolute;

    right: 18px;

    top: 50%;

    transform: translateY(-50%);

    color: #888;

}


/* CART */

.cart-icon{

    position: relative;

    cursor: pointer;

    font-size: 24px;

}

#cartCount{

    position: absolute;

    top: -10px;

    right: -10px;

    background: red;

    width: 22px;

    height: 22px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 12px;

}


/* MOBILE MENU */

#menuBtn{

    display: none;

    font-size: 28px;

    cursor: pointer;

}


/* =========================
HERO
========================= */

.hero{

    width:100%;
    height:88vh;

    background:
    linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
    ),

    url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?q=80&w=1600');

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: flex-start;

    padding: 0 8%;

}

.hero-content{

    max-width: 700px;

    padding-top:140px;

}

.hero-content h1{

    color:white;
    text-shadow:0 4px 20px rgba(0,0,0,0.5);

    font-size: 75px;

    line-height: 1.1;

    margin-bottom: 25px;

}

.hero-muscle{

    font-size:80px;

    margin:20px 0;

}

.muscle-icon{
    font-size:50px;
    margin-left:8px;
    display:inline-block;
    transform:translateY(-5px);
}

.hero-content p{

    font-size: 20px;

    color: #ccc;

    margin-bottom: 40px;

    line-height: 1.7;

}

.hero-content a{

    display: inline-block;

    padding: 18px 40px;

    background: red;

    color: white;

    text-decoration: none;

    border-radius: 50px;

    font-weight: 600;

    transition: 0.3s;

}

.hero-content a:hover{

    background: white;

    color: red;

}


/* =========================
CATEGORIES
========================= */

.categories{

    padding:50px 8%;

    display:flex;

    gap:20px;

    flex-wrap:wrap;

    justify-content:center;

    background:#f5f3ee;

}

.categories button{

    padding: 14px 28px;

    border: none;

    border-radius: 50px;

    background: #111;

    color: white;

    cursor: pointer;

    transition: 0.3s;

}

.categories button:hover{

    background: red;

}


/* =========================
PRODUCTS
========================= */

.products{

    padding: 50px 8%;

    background:#f5f3ee;

}

.products h2{

    font-size: 48px;

    margin-bottom: 50px;

    text-align: center;

}

.products-container{

    display: grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap: 35px;

}


/* PRODUCT CARD */

.product-card{

background:white;

border-radius:20px;

padding:20px;

border:1px solid #e5e5e5;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

}

.product-card:hover{

transform:translateY(-8px);

box-shadow:
0 10px 30px rgba(0,0,0,0.15);

}

.product-card img{

    transition:0.4s;

}

.product-card:hover img{

    transform:scale(1.08);

}

.product-card{

    position:relative;

    background:white;

    border-radius:20px;

    overflow:hidden;

    cursor:pointer;

    transition:0.3s;

    border:1px solid #e5e5e5;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    max-width:none;

    width:100%;

    margin:0;

}

.product-card img{

    width:100%;

    height:280px;

    object-fit:contain;

    background:white;

    padding:20px;

    display:block;

}

.product-info{
    padding: 20px;
}

.product-card h3{

    color:#111;

    margin-top:10px;

    margin-bottom:10px;

    font-size:22px;

    font-weight:700;

    line-height:1.3;

}

.price{

    display: flex;

    align-items: center;

    gap: 15px;

    padding: 0 20px 20px;

}

.new-price{

    color:#d62828;

    font-size: 28px;

    font-weight: 700;

}

.old-price{

    color:#999;

    text-decoration: line-through;

}

.product-card button{

    width: calc(100% - 40px);

    margin: 20px;

    padding: 16px;

    border: none;

    border-radius: 14px;

    background: linear-gradient(
        135deg,
        #ff1a1a,
        #ff0000
    );

    color: white;

    font-size: 16px;

    font-weight: 700;

    cursor: pointer;

    position: relative;

    overflow: hidden;

    transition: 0.3s;

}

.product-card button::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:60px;

    height:100%;

    background:rgba(255,255,255,0.45);

    transform:skewX(-25deg);

}

.product-card button::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:60px;

    height:100%;

    background:rgba(255,255,255,0.4);

    transform:skewX(-25deg);

    animation:buttonShine 3s infinite;

}

@keyframes buttonShine{

    0%{
        left:-120%;
    }

    40%{
        left:130%;
    }

    100%{
        left:130%;
    }

}


/* =========================
REVIEWS
========================= */

.reviews{
    background:#000;
    padding:80px 8%;
}

.reviews h2{
    color:white;
    text-align:center;
    font-size:48px;
    margin-bottom:50px;
}

.reviews-container{

    display: grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap: 35px;

}

.review-card{

    background: #111;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

}

.review-card img{

    width: 90px;

    height: 90px;

    border-radius: 50%;

    margin-bottom: 20px;

}

.review-card h3{

    margin-bottom: 12px;

}

.stars{

    color: gold;

    margin-bottom: 20px;

    font-size: 20px;

}

.review-card p{

    color: #ccc;

    line-height: 1.7;

}


/* =========================
FOOTER
========================= */

.footer{

    background: #111;

    padding: 60px 8%;

    text-align: center;

}

.footer h2{

    color: red;

    margin-bottom: 15px;

}

.footer p{

    color: #ccc;

    margin-bottom: 25px;

}

.social-links{

    display: flex;

    justify-content: center;

    gap: 20px;

}

.social-links a{

    width: 50px;

    height: 50px;

    background: #181818;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    color: white;

    text-decoration: none;

    transition: 0.3s;

}

.social-links a:hover{

    background: red;

}


/* =========================
CART SIDEBAR
========================= */

.cart-sidebar{

    position: fixed;

    top: 0;

    right: -450px;

    width: 450px;

    height: 100vh;

    background: #111;

    z-index: 9999;

    transition: 0.4s;

    padding: 30px;

    overflow-y: auto;

}

.cart-sidebar.active{

    right: 0;

}

.cart-header{

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 30px;

}

.cart-header i{

    font-size: 28px;

    cursor: pointer;

}

.cart-item{

    background: #181818;

    padding: 20px;

    border-radius: 12px;

    margin-bottom: 20px;

}

.cart-item h4{

    margin-bottom: 10px;

}

.cart-item p{

    color: #ccc;

    margin-bottom: 15px;

}

.cart-item button{

    padding: 10px 18px;

    border: none;

    background: red;

    color: white;

    border-radius: 8px;

    cursor: pointer;

}

.cart-footer{

    margin-top: 30px;

}

.checkout-btn{

    width: 100%;

    margin-top: 20px;

    padding: 16px;

    border: none;

    border-radius: 12px;

    background: red;

    color: white;

    font-size: 18px;

    cursor: pointer;

}


/* =========================
WHATSAPP BUTTON
========================= */

.whatsapp-btn{

    position: fixed;

    bottom: 25px;

    right: 25px;

    width: 70px;

    height: 70px;

    background: #25D366;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    color: white;

    font-size: 38px;

    text-decoration: none;

    z-index: 9999;

    box-shadow:
    0 0 25px rgba(37,211,102,0.6);

    animation:
    whatsappPulse 2s infinite;

}

.whatsapp-btn:hover{

    transform: scale(1.1);

}

@keyframes whatsappPulse{

    0%{

        transform: scale(1);

    }

    50%{

        transform: scale(1.1);

    }

    100%{

        transform: scale(1);

    }

}


/* =========================
MOBILE
========================= */

@media(max-width:992px){

    #navMenu{

        position: fixed;

        top: 90px;

        right: -100%;

        width: 280px;

        height: calc(100vh - 90px);

        background: #111;

        flex-direction: column;

        padding: 40px;

        transition: 0.4s;

    }

    #navMenu.active{

        right: 0;

    }

    #menuBtn{

        display: block;

    }

    .search-box{

        display: none;

    }

    .hero-content h1{

        font-size: 50px;

    }

}

@media(max-width:768px){

    .hero{

        text-align: center;

        justify-content: center;

    }

    .hero-content h1{

        font-size: 40px;

    }

    .products h2,
    .reviews h2{

        font-size: 36px;

    }

    .cart-sidebar{

        width: 100%;

    }

}
/* =========================
ADMIN LOGIN BUTTON
========================= */

.admin-login-btn{

    padding: 10px 22px;

    background: red;

    color: white;

    text-decoration: none;

    border-radius: 50px;

    font-size: 14px;

    font-weight: 600;

    transition: 0.3s;

}

.admin-login-btn:hover{

    background: white;

    color: red;

}
/* =========================
CHECKOUT PAGE
========================= */

.checkout-page{

    min-height:100vh;

    background:black;

    padding:120px 8% 50px;

}

.checkout-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:40px;

}

.checkout-form{

    background:#111;

    padding:40px;

    border-radius:20px;

}

.checkout-form h1{

    color:red;

    margin-bottom:30px;

}

.checkout-form input,
.checkout-form textarea,
.checkout-form select{

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:none;

    border-radius:10px;

    background:#1b1b1b;

    color:white;

    font-size:16px;

}

.checkout-form textarea{

    height:120px;

    resize:none;

}

.checkout-form button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:red;

    color:white;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

}

.order-summary{

    background:#111;

    padding:40px;

    border-radius:20px;

    color:white;

}

.order-summary h1{

    color:red;

    margin-bottom:30px;

}

.order-summary h2{

    margin-top:30px;

    color:red;

}

@media(max-width:900px){

.checkout-container{

    grid-template-columns:1fr;

}

}

/* =========================
   PRODUCT DETAILS PAGE
========================= */

.product-details{

    margin-top:80px;

}

.product-details{

    padding:120px 8%;
    background:#000;
    min-height:100vh;
}

.product-details-container{

    display:flex;
    gap:60px;
    align-items:flex-start;
    flex-wrap:wrap;
}

.product-image{

    flex:1;
    min-width:400px;
}

.product-image img{

    width:100%;
    max-width:550px;
    background:#fff;
    border-radius:20px;
    padding:20px;
}

.product-info{

    flex:1;
    color:white;
}

.product-info h1{

    font-size:55px;
    margin-bottom:15px;
}

.rating{

    font-size:22px;
    color:gold;
    margin-bottom:25px;
}

.price-box{

    display:flex;
    justify-content:space-between;
    background:#111;
    border:1px solid #333;
    border-radius:15px;
    padding:25px;
    margin-bottom:25px;
}

.price-box p{

    color:#aaa;
    margin-bottom:10px;
}

#detailsDiscount{

    color:red;
    font-size:42px;
}

#detailsPrice{

    color:#888;
    text-decoration:line-through;
    font-size:34px;
}

.stock-box{

    display:inline-block;
    padding:12px 25px;
    border:1px solid #333;
    border-radius:10px;
    margin-bottom:30px;
    color:#00ff66;
}

.product-info h2{

    margin-bottom:15px;
}

#detailsDescription{

    color:#ccc;
    line-height:1.8;
    font-size:18px;
    margin-bottom:35px;
}

#buyNowBtn{

    width:100%;
    padding:18px;
    border:none;
    border-radius:12px;
    background:red;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
}

#buyNowBtn:hover{

    background:#ff2b2b;
}

/* MOBILE */

@media(max-width:768px){

    .product-details-container{

        flex-direction:column;
    }

    .product-image{

        min-width:100%;
    }

    .product-info h1{

        font-size:38px;
    }

}

/* =========================
   MY ORDERS PAGE
========================= */

.orders-page{

    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    color: white;
}

.orders-page h1{

    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

.orders-page input{

    width: 75%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.orders-page button{

    padding: 15px 25px;
    background: #ff1a1a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s;
}

.orders-page button:hover{

    background: #cc0000;
}

.order-card{

    background: #111;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 25px;
    margin-top: 25px;
    box-shadow: 0 0 15px rgba(255,0,0,0.2);
    transition: 0.3s;
}

.order-card:hover{

    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255,0,0,0.4);
}

.order-card h3{

    color: #ff1a1a;
    margin-bottom: 15px;
}

.order-card p{

    margin: 10px 0;
    font-size: 17px;
    line-height: 1.6;
}

/* STATUS COLORS */

.pending{

    color: orange;
    font-weight: bold;
}

.confirmed{

    color: dodgerblue;
    font-weight: bold;
}

.shipped{

    color: gold;
    font-weight: bold;
}

.delivered{

    color: limegreen;
    font-weight: bold;
}

/* =========================
PAYMENT POPUP
========================= */

.payment-modal{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100vh;

    background:rgba(0,0,0,0.85);

    z-index:99999;

    justify-content:center;

    align-items:center;

}

.payment-box{

    width:450px;

    background:#111;

    padding:30px;

    border-radius:20px;

    text-align:center;

    border:1px solid #333;

}

.payment-box h2{

    color:red;

    margin-bottom:20px;

}

.payment-box p{

    margin-bottom:15px;

}

.payment-box h3{

    color:#00ff66;

    margin-bottom:20px;

}

.payment-box input{

    width:100%;

    padding:12px;

    background:#1b1b1b;

    color:white;

    border:none;

    border-radius:10px;

}

.payment-box button{

    width:100%;

    padding:15px;

    margin-top:20px;

    background:red;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

}

/* SUCCESS PAGE */

.success-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#000;

padding:20px;

}

.success-card{

background:#111;

border:1px solid #222;

border-radius:20px;

padding:40px;

text-align:center;

max-width:600px;

width:100%;

box-shadow:0 0 30px rgba(255,0,0,0.2);

}

.success-icon{

font-size:70px;

margin-bottom:20px;

}

.success-card h1{

color:#ff0000;

margin-bottom:15px;

}

.success-card p{

color:white;

margin-bottom:15px;

font-size:18px;

}

.success-message{

color:#bbb;

}

.home-btn{

display:inline-block;

margin-top:20px;

padding:14px 30px;

background:#ff0000;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

transition:0.3s;

}

.home-btn:hover{

transform:scale(1.05);

}

.view-proof-btn{

    background:#00c853;

    color:white;

    padding:8px 12px;

    border-radius:6px;

    text-decoration:none;

    font-weight:600;

}

.details-btn{

    width:100%;

    margin-top:10px;

    padding:12px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    background:#222;

    color:white;

    font-size:15px;

    font-weight:600;

}

.details-btn:hover{

    background:#333;

}

.cart-qty{

    display:flex;

    align-items:center;

    gap:10px;

    margin-top:10px;

}

.cart-qty button{

    width:30px;

    height:30px;

    border:none;

    border-radius:5px;

    background:red;

    color:white;

    cursor:pointer;

    font-size:18px;

}

/* =========================
REVIEWS SECTION
========================= */

.review-card{
    background:#111;
    border:1px solid #333;
    border-radius:20px;
    padding:30px;
    color:white;
    transition:0.3s;
}

.review-card:hover{
    border-color:red;
    transform:translateY(-5px);
}

.review-stars{

    color:gold;

    font-size:20px;

    margin-bottom:10px;

}

.review-card h3{

    color:#ff2b2b;

    margin-bottom:10px;

}

.review-card p{

    margin:8px 0;

}

.review-card p{

    color:#ccc;

    font-size:16px;

    line-height:1.6;

}

.review-card button{

    background:red;

    color:white;

    border:none;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;

    margin-top:10px;

    font-weight:bold;

}

.review-card button:hover{

    background:#cc0000;

}

.review-user{
    display:flex;
    align-items:center;
    gap:15px;
    margin-top:25px;
}

.review-avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#e12626;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    font-weight:700;
    color:white;
}

.review-name{
    font-size:24px;
    font-weight:700;
    color:white;
}

.review-verified{
    color:#3ecf4c;
    font-size:14px;
    font-weight:600;
}

/* =========================
REVIEW FORM
========================= */

.review-form{

    max-width:700px;

    margin:40px auto;

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    justify-content:center;

}

.review-form input,

.review-form textarea,

.review-form select{

    background:#111;

    color:white;

    border:1px solid #333;

    border-radius:10px;

    padding:14px;

    font-size:16px;

    outline:none;

}

.review-form input{

    width:220px;

}

.review-form select{

    width:130px;

    cursor:pointer;

}

.review-form textarea{

    width:250px;

    height:55px;

    resize:none;

}

.review-form button{

    background:red;

    color:white;

    border:none;

    border-radius:12px;

    padding:15px 30px;

    font-size:16px;

    font-weight:700;

    cursor:pointer;

    transition:0.3s;

}

.review-form button:hover{

    background:#cc0000;

    transform:translateY(-3px);

    box-shadow:
    0 0 20px rgba(255,0,0,0.4);

}

/* =========================
DEVELOPER CREDIT
========================= */

.developer-credit{

    text-align:center;

    padding:15px;

    background:#050505;

    color:#888;

    font-size:14px;

    border-top:1px solid #222;

}

.developer-credit:hover{

    color:red;

    transition:0.3s;

}
/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width:768px){

    .navbar{
        padding:12px;
        flex-wrap:wrap;
    }

    .logo h2{
        font-size:22px;
    }

    .hero{
        height:95vh;
        padding:20px;
    }

    .hero-content h1{
        font-size:55px;
        line-height:1.1;
    }

    .hero-content h1{
        max-width: 900px;
    }
    
    .hero-content h1{
        line-height:1.1;
    }

    .hero-content p{
        font-size:20px;
    }

    .hero-content a{
        padding:15px 35px;
    }

    .categories{
        flex-wrap:wrap;
        gap:10px;
        padding:15px;
    }

    .categories button{
        width:45%;
    }

    .products h2{
        font-size:40px;
    }

    .products-container{
        grid-template-columns:1fr;
    }

    .product-card{
        width:100%;
    }

    .reviews h2{
        font-size:40px;
    }

    .reviews-container{
        grid-template-columns:1fr;
    }

    .review-form{
        flex-direction:column;
        width:90%;
        margin:auto;
    }

    .review-form input,
    .review-form textarea,
    .review-form select,
    .review-form button{
        width:100%;
    }

    .footer{
        text-align:center;
        padding:30px 15px;
    }

    .social-links{
        justify-content:center;
    }

    .cart-sidebar{
        width:100%;
    }

    .search-box{
        display:none;
    }

}
.hero-stats{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    margin-top:25px;

}

.hero-stats{
    margin-bottom:20px;
}

.hero-stats div{

    background:#111;

    border:1px solid #222;

    padding:12px 18px;

    border-radius:50px;

    font-size:14px;

}
.trust-strip{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:20px;

    padding:40px 8%;

}

.trust-strip div{

    background:#111;

    color:white !important;

    font-size:18px;

    font-weight:600;

    text-align:center;

    padding:20px;

    border-radius:15px;

    border:1px solid #222;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

}

@media(max-width:768px){

    .logo h2{

        font-size:16px;

    }

    .trust-strip{

        grid-template-columns:1fr 1fr;

    }

}

/* WHY CHOOSE US */

.why-us{

    background:#f5f3ee;

    padding:80px 8%;

    text-align:center;

}

.why-us h2{

    font-size:50px;

    margin-bottom:50px;

}

.why-grid{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:25px;

}

.why-card{

    background:#111;

    border:1px solid #222;

    border-radius:20px;

    padding:35px;

    transition:0.3s;

}

.why-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 0 25px rgba(255,0,0,0.25);

}

.why-card h3{

    color:white;

    font-size:24px;

    font-weight:700;

    margin:15px 0;

}

.why-card i{

    color:#ff2b2b;

    font-size:40px;

    margin-bottom:15px;

}

.why-card span{

    font-size:40px;

    display:block;

    margin-bottom:15px;

}

.why-card p{

    color:#cfcfcf;

    line-height:1.6;

}

/* MOBILE */

@media(max-width:768px){

    .why-grid{

        grid-template-columns:1fr;

    }

    .why-us h2{

        font-size:35px;

    }

}
.product-card{

    position:relative;

}

.product-badge{

    position:absolute;

    top:4px;

    left:50%;

    transform:translateX(-50%);

    background:#ff0000;

    color:white;

    padding:10px 20px;

    border-radius:50px;

    font-size:12px;

    font-weight:700;

    z-index:20;

    box-shadow:
    0 0 20px rgba(255,0,0,.35);

}

/* MOBILE NAVBAR */

#menuBtn{

    display:none;

    font-size:28px;

    color:white;

    cursor:pointer;

}

@media(max-width:768px){

    #menuBtn{

        display:block;

    }

    #navMenu{

        position:fixed;

        top:80px;

        right:-100%;

        width:280px;

        height:100vh;

        background:#111;

        flex-direction:column;

        align-items:center;

        padding-top:40px;

        transition:0.4s;

        z-index:9999;

    }

    #navMenu.active{

        right:0;

    }

    .search-box{

        display:none;

    }

}

.review-card{

    max-width:700px;

}

.review-card h3{

    font-size:24px;

}

.review-stars{

    font-size:24px;

}

.review-card p{

    max-width:500px;

    margin:10px auto;

}

#reviewsContainer{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:25px;

    width:90%;

    margin:auto;

}

.verified-badge{

    display:inline-block;

    background:#0f5132;

    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    margin-bottom:12px;

}

.review-subtitle{

    text-align:center;

    color:#999;

    margin-top:-15px;

    margin-bottom:40px;

}

.stock-badge{

    display:inline-block;

    background:#0f5132;

    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    margin-bottom:10px;

}

.badge-row{

    display:flex;

    gap:10px;

    align-items:center;

    margin-bottom:15px;

}

.badge-row{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}

.brand-name{

font-size:12px;

font-weight:700;

letter-spacing:2px;

color:#888;

text-transform:uppercase;

margin-top:15px;

}

.product-rating{

margin-top:8px;

font-size:14px;

font-weight:600;

color:#444;

margin-bottom:15px;

}

.product-rating span{

color:#777;

margin-left:8px;

}

.discount-badge{
    position:absolute;
    top:12px;
    left:12px;
    background:#ff3b30;
    color:white;
    padding:6px 12px;
    border-radius:30px;
    font-size:12px;
    font-weight:700;
    z-index:5;
}

.wishlist-icon{
    position:absolute;
    top:12px;
    right:12px;
    width:40px;
    height:40px;
    background:white;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    font-size:18px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
    z-index:5;
}

.save-price{
    color:#16a34a;
    font-weight:700;
    margin-top:6px;
    font-size:14px;
}

.hero-stats{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    margin-top:25px;

}

.hero-stats div{

    background:#111;

    border:1px solid rgba(255,255,255,0.15);

    color:white;

    padding:12px 20px;

    border-radius:50px;

    font-size:15px;

    font-weight:600;

    min-width:140px;

    text-align:center;

}

.top-ticker{

    width:100%;

    height:40px;

    background:#8B0000;

    overflow:hidden;

    position:fixed;

    top:0;

    left:0;

    z-index:10000;

}

.ticker-separator{

    margin:0 80px;

    color:#ffffff;

    font-size:18px;

}

.ticker-content{

    white-space:nowrap;

    color:white;

    font-size:15px;

    font-weight:700;

    line-height:40px;

    animation:tickerMove 40s linear infinite;

}

@keyframes tickerMove{

    0%{
        transform:translateX(100%);
    }

    100%{
        transform:translateX(-100%);
    }

}

.offer-banner{

    width:100%;

    padding:20px 40px;

}

.offer-banner img{

    width:100%;

    display:block;

    border-radius:20px;

    cursor:pointer;

    transition:0.4s;

    box-shadow:0 10px 30px rgba(0,0,0,0.15);

}

.offer-banner img:hover{

    transform:scale(1.01);

}

@media(max-width:768px){

    .offer-banner{

        padding:15px;

    }

    .offer-banner img{

        border-radius:12px;

    }

}

.strip-outline,
.strip-main{

    font-size:20px;

}

.hpn-strip-track{

    font-size:20px;

}

.hpn-strip-track{

    font-size:20px;

}

/* HPN STRIP */

.hpn-strip{

    width:100%;
    background:#7a0000;
    overflow:hidden;
    padding:25px 0;
}

.hpn-strip-track{

    white-space:nowrap;
    color:white;

    font-size:22px;     /* pehle 36-38 tha */

    font-weight:800;

    text-transform:uppercase;

    animation:hpnMove 30s linear infinite;
}

.hpn-strip-track span{

    margin:0 120px;
    color:#ffd700;
}

@keyframes hpnMove{

    0%{
        transform:translateX(100%);
    }

    100%{
        transform:translateX(-100%);
    }

}

/* HPN PREMIUM STRIP */

.hpn-strip{

    background:#d62828;


    overflow:hidden;

    position:relative;

    padding:18px 0;

}

.hpn-strip{

    margin-top:-60px;

}

.strip-outline{

    white-space:nowrap;

    font-size:42px;

    font-weight:900;

    font-style: italic;

    transform: skewX(-12deg);

    color:transparent;

    -webkit-text-stroke:1.5px rgba(255,255,255,0.45);
    opacity:0.5;

    text-transform:uppercase;

    animation:stripMove 12s linear infinite;

    opacity:0.7;

}

.strip-main{

    white-space:nowrap;

    font-size:42px;

    font-weight:900;

    font-style: italic;

    transform: skewX(-12deg);

    color:white;

    text-transform:uppercase;

    margin-top:-12px;

    animation:stripMove 12s linear infinite;

}

.strip-outline span,
.strip-main span{

    margin:0 100px;

}

@keyframes stripMove{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

.cart-icon i,
.fa-cart-shopping{

    color:white !important;

    font-size:28px;

    text-shadow:0 0 10px rgba(255,255,255,0.7);

}

.review-card{

    background:#111;
    border:1px solid #2a2a2a;
    border-radius:20px;
    padding:30px;
    text-align:left;
    color:white;

}

.review-stars{

    color:#ffd700;
    font-size:24px;
    margin-bottom:20px;

}

.review-stars{

    color:#FFD700;

    font-size:28px;

    letter-spacing:4px;

    margin-bottom:18px;

    text-shadow:0 0 8px rgba(255,215,0,0.4);

}

.review-user{

    display:flex;
    align-items:center;
    gap:15px;
    border-top:1px solid #2a2a2a;
    padding-top:20px;

}

.review-avatar{

    width:55px;
    height:55px;
    border-radius:50%;
    background:#e12626;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    font-weight:700;

}

.review-name{

    color:white;
    font-size:24px;
    font-weight:700;

}

.review-verified{

    color:#3ecf4c;
    font-size:14px;
    font-weight:700;

}

.about-brand{

    display:flex;
    align-items:center;
    justify-content:center;
    gap:70px;

    padding:100px 8%;

    background:#f5f5f5;

    flex-wrap:wrap;
}

.about-image{

    position:relative;
    flex:1;
    min-width:350px;
}

.about-image img{

    width:100%;
    max-width:600px;

    border-radius:25px;

    display:block;

    box-shadow:0 15px 40px rgba(0,0,0,0.15);
}

.est-badge{

    position:absolute;

    bottom:20px;
    right:20px;

    background:#e31b23;

    color:white;

    padding:12px 25px;

    border-radius:12px;

    font-weight:700;

    font-size:20px;
}

.about-content{

    flex:1;
    min-width:350px;
}

.about-tag{

    color:#e31b23;

    font-weight:700;

    letter-spacing:3px;

    display:block;

    margin-bottom:20px;
}

.about-content h2{

    font-size:65px;

    line-height:1.1;

    margin-bottom:30px;

    color:#111;
}

.about-content p{

    font-size:22px;

    line-height:1.8;

    color:#444;

    margin-bottom:25px;
}

.about-btn{

    display:inline-block;

    background:#e31b23;

    color:white;

    padding:18px 40px;

    border-radius:10px;

    text-decoration:none;

    font-weight:700;

    margin-top:15px;
}

@media(max-width:768px){

.about-content h2{

    font-size:40px;
}

.about-content p{

    font-size:18px;
}

.about-brand{

    padding:70px 6%;
}
}

.review-subtitle{

    text-align:center;

    color:#111;

    font-size:28px;

    font-weight:800;

    margin-top:40px;

    margin-bottom:40px;

    background:#ffffff;

    padding:20px 0;
}